{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Cloud Name"|t('cloudinary'),
    id: 'cloudName',
    name: 'cloudName',
    suggestEnvVars: true,
    value: fs.cloudName,
    errors: fs.getErrors('cloudName'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Api Key"|t('cloudinary'),
    id: 'apiKey',
    name: 'apiKey',
    suggestEnvVars: true,
    value: fs.apiKey,
    errors: fs.getErrors('apiKey'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Api Secret"|t('cloudinary'),
    id: 'apiSecret',
    name: 'apiSecret',
    suggestEnvVars: true,
    value: fs.apiSecret,
    errors: fs.getErrors('apiSecret'),
    required: true,
}) }}

{{ forms.autosuggestField({
    label: "Base Folder"|t('cloudinary'),
    instructions: "The base folder is the root folder for all assets uploaded to Cloudinary. If you leave this field blank, assets will be uploaded to the root folder of your Cloudinary account."|t('cloudinary'),
    id: 'baseFolder',
    name: 'baseFolder',
    suggestEnvVars: true,
    value: fs.baseFolder,
    errors: fs.getErrors('baseFolder'),
}) }}

{{ forms.lightswitchField({
    label: "Dynamic Folders mode"|t('cloudinary'),
    instructions: "Visit your [Media Library preferences](https://console.cloudinary.com/console/media_library/preferences) to verify whether Dynamic Folders mode is enabled. If the option is not mentioned in the preferences, leave it untoggled. This could be the case for products on the free plan."|t('cloudinary'),
    id: 'dynamicFolders',
    name: 'dynamicFolders',
    on: fs.dynamicFolders,
    warning: fs.dynamicFolders ? "Support for Dynamic Folders mode is now deprecated."|t('cloudinary') : '',
}) }}
